<h2>Task</h2>
<div id="wait-message">
  Please wait a few moments while the task loads.
</div>
<div id="error-message">
  There was a problem with this task. Please release it; or, if you spent more
  than a few seconds on it, feel free to submit it if you can.
</div>
<div id="table-container">

        <table class="task-table" id="task-table" style="display:none;">
          <thead background-color="#eee" id="wrapper">
          <tr class="task-table">
            <td background="red">Video #</td>
              <td>Video</td>
              <td>What label best describes this video’s content?</td>
              <td>Does the video have any of the following attributes? [Check all that apply]</td>
              <td>How many new users would find this video<br>inappropriate to show on the YouTube Homepage?</td>
            </tr>
            </thead>
          <tbody id="body-table">
        <%
          item.youtubeIds = YoutubeIds(item);
          for (var i = 1; i <= item.youtubeIds.length; ++i) { %>
          <tr class="subtask task-table" id="subtask-<%= i %>" style="display:none;">
            <td id="video-number-<%= i %>"></td>
            <td id="video-lockup-<%= i %>"></td>
            <td>
              <div id='category-div-<%= i %>'>
              <label><input type="radio" name="category-item-<%= i %>" value="clickbait" />Clickbait</label><br />
              <label><input type="radio" name="category-item-<%= i %>" value="outrageous" />Outrageous</label><br />
              <label><input type="radio" name="category-item-<%= i %>" value="disgusting" />Disgusting</label><br />
              <label><input type="radio" name="category-item-<%= i %>" value="violent" />Overly violent</label><br />
              <label><input type="radio" name="category-item-<%= i %>" value="racy" />Overly racy</label><br />
              <label><input type="radio" name="category-item-<%= i %>" value="other" />Other</label>
             </div>
            </td>
            <td>
              <div id='attribute-div-<%= i %>'>
              <label><label><input type="checkbox" name="attr-item-<%= i %>" value="curiosity" />Title/thumbnail chosen to <strong>arouse curiosity</strong> rather than to briefly and accurately describe the video</label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="outrage/disbelief" />Title/thumbnail designed to make users click due to <strong>outrage</strong> or <strong>disbelief</strong></label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="hyperbole" />Title/thumbnail makes the content <strong>seem much more important</strong> or <strong>surprising than it is</strong></label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="listicle" />Listicle format: lists, especially of the <strong>"top", "worst", "best"</strong>, etc.</label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="topic_appeal" />Topic appeals to a <strong>lewd, crass, sordid, low-minded, vulgar</strong> or <strong>voyeuristic curiosity</strong></label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="news" /><strong>News-related</strong> title/thumbnail that’s <strong>sensational, exaggerated, fake</strong> or <strong>conspiracy theory</strong></label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="poop+" />Title/thumbnail features <strong>fecal matter, vomit, blood, syringes</strong></label><br />
              <label><input type="checkbox" name="attr-item-<%= i %>" value="none" />None of the above</label>
               </div>

            <td class="slider" id="slider-subtask-<%= i %>">
              <div id="slider-<%= i %>" name="video-<% i %>">
                </div>
            </td>
          </tr>
        <% } %>
            </tbody>
        </table>

<div id="bottom_anchor"></div>
</div>
<input id="error-log" name="rater-asked-to-quit" type="hidden" value="false">
<input id="api-wait-log" name="api-wait-ellapsed" type="hidden" value="false">
<input id="required-subtasks" name="required-subtasks" type="hidden" value="">
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<script>


function moveScroll(){
    var scroll = $(window).scrollTop();
    var anchor_top = $("#task-table").offset().top;
    var anchor_bottom = $("#bottom_anchor").offset().top;
    if (scroll>anchor_top && scroll<anchor_bottom) {
    clone_table = $("#clone");
    if(clone_table.length == 0){
        clone_table = $("#task-table").clone();
        clone_table.attr('id', 'clone');
        clone_table.css({position:'fixed',
                 'pointer-events': 'none',
                 top:0, 'z-index': 3});
        clone_table.width($("#body-table").width());
        $("#table-container").append(clone_table);
        $("#clone").css({visibility:'hidden'});
        $("#clone thead").css({visibility:'visible'});

    }
    } else {

    $("#clone").remove();
    }
}
$(window).scroll(moveScroll);

</script>
