body {
  margin: auto;
  max-width: 600px;
}
header {
  text-align: center;
  margin: 20px 0 0 0;
    }
div.first {
  display: flex;
  width: 600px;
}
h2 {
  font-size: 18px;
}
div.second{
  display: flex;
  width: 600px;
}
article {
  padding: 10px 10px 0 0;
  flex: 1;
}
img.ski {
    width: 600px;
    padding: 0 0 10px 0;
}
